.genre-card {
  margin-top: 2rem;
}

.genre-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 10rem;
  row-gap: 1rem;
}

.genre-item {
  display: flex;
  flex: 40%;
  flex-grow: 0;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @media screen and (max-width: 992px) {
    flex: 100%
  }
}

.genre-actions {
  margin-left: 2rem;
  button {
    margin-right: 1rem;
  }
}
